html, body {
  height: 100%;
  width: 100%;
  margin:0;
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

/* réglage initial en mobile first */
html {
  font-size:100%;
    }	
  /* réglages mobile et + */
  .text {
  font-family: sans-serif;
  font-size: 0.8rem;	
  }
.titre {
  font-size: 7vh;
  }

  .footer{
    position:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom:0px;
    
  }

  /* réglages couleur sur barre de navigation*/
  .nav.navbar-nav  {
    color: #fff;
    }
    .nav.navbar-nav a:hover {
    color: grey;
    }

    /* affichage/masquage pg1 card 1"lire la suite": "Qui sommes-nous?"*/
    #cache {
      display: none;
   }
   #cache:target {
      display: block;
   }

   /* affichage/masquage pg1 card 2 "lire la suite": "Que faisons-nous?"*/
   #cache2 {
    display: none;
 }
 #cache2:target {
    display: block;
 }

 /* affichage/masquage pg1 card 3 "lire la suite":"Nos liens avec la communauté internationale des astronomes amateurs*/
 #cache3 {
  display: none;
}
#cache3:target {
  display: block;
}

/* affichage/masquage pg2 card 4"lire la suite": "Eclipse de lune"*/
#cache4 {
  display: none;
}
#cache4:target {
  display: block;
}

/* affichage/masquage pg2 card 5"lire la suite": "Etoiles filantes"*/
#cache5 {
  display: none;
}
#cache5:target {
  display: block;
}

/* affichage/masquage pg2 card 6"lire la suite":"Conjonctions planètaires"*/
#cache6 {
  display: none;
}
#cache6:target {
  display: block;
}



@media screen and (min-width: 640px) {
  .text, .titre{
      /* réglages à partir de 640px et + : même police et taille un peu plus grande. */
      font-size: 1rem;
    }
}

@media screen and (min-width: 768px) {
  .text, .titre{
      /* réglages à partir de 768px et + : même police et taille un peu plus grande. */
      font-size: 0.9rem;
    }
}

@media screen and (min-width: 320px) {
  .text, .titre{
      /* réglages à partir de 320px et + : même police et taille plus petite. */
      font-size: 0.8rem;
      float:right
    }
  .entete {
      vertical-align: center;

  }
  .footer{
    position:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom:0px;
    
  }
}
/* réglages à partir de 640px et + : ajustememt du viewport et hauteur de ligne */
@media screen and (min-width: 640px) {
  .titre{
  font-size: 5vh;
  line-height: 0.8em
  }
  .footer{
    position:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom:0px;
   
  }
}

$background-dark: #222f3e;
$text-light: #feca57;
$text-dark: #202020;
$shadow-light: 4px 4px 10px #d6d6d6;

.header,
.main-content {
  padding: 20px;
}

.title{
  font-size: 0.8rem;
}

.header {
  position: relative;
  background: $background-dark;
  color: $text-light;
  margin-bottom: 100px;
  width: 100%;
  height: 100px;
  
 
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom:0px;
  grid-column-start: 12;
  grid-column-end: 3;
  grid-row-start: 1;
}

.footer2 {
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 3;
  background: palegoldenrod;
}



.main-content {
  color: $text-dark;
  margin: auto;
  text-align: center;
  box-shadow: $shadow-light;
  width: 100%;
  max-width: 1200px;
  min-height: 500px;
}

%flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  $info: #0059ff;
  $success: #00b894;
  $error: #d63031;
  $white: #ffffff;
  
  .btn {
    @extend %flex-centered;
    border-radius: 4px;
    border: none;
    padding: 10px 30px;
    margin: 5px;
    color: $white;
  
    &.info {
      background: $info;
    }
  
    &.error {
      background: $error;
    }
  
    &.success {
      background: $success;
    }
  }